<!doctype html>
<html>

<head>
	<title>Au.Then Demo</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		body {
			padding-top: 70px;
		}
	</style>
</head>

<body>
	<div class="hero is-fullheight is-primary">
		<div class="hero is-fullheight is-primary">
			<div class="hero-body">
				<div class="container has-text-centered">
					<div class="column is-6 is-offset-3">

						<div class="box">
							<h3 class="title has-text-dark">Login with Github</h3>
							<hr class="login-hr">
							<p class="subtitle has-text-dark">Please login to see your profile</p>
							<div class="jumbotron text-center text-primary">
								<a href="/auth/github" class="button is-block is-success is-large is-fullwidth">
									<span class="fa fa-github"></span> Github Login
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
